.header {
  background-color: var(--background-dark);
  color: var(--background-white);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
