.footer {
  background-color: var(--background-dark);
  color: var(--background-white);
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.875rem;

  & p {
    color: var(--gray-lighter);
  }
}
